

<!-- BEGIN PAGE LEVEL STYLES -->

<link href="/media/css/jquery.fancybox.css" rel="stylesheet" />

<link href="/media/css/jquery.fileupload-ui.css" rel="stylesheet" />

<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN STYLE CUSTOMIZER -->



        <!-- END BEGIN STYLE CUSTOMIZER -->


        <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="/user/show">首页</a>

                <span class="icon-angle-right"></span>
                <a href="/user/show">编辑请柬信息</a>

            </li>

        </ul>

    </div>

</div>

<!-- END PAGE HEADER-->

<div class="row-fluid">

<div class="span12">

<div class="portlet box purple" id="form_wizard_1">

<div class="portlet-title">

    <div class="caption">

        <i class="icon-reorder">请柬背景图片设置</i>

    </div>

    <div class="tools hidden-phone">

        <a href="javascript:;" class="collapse"></a>

        <a href="#portlet-config" data-toggle="modal" class="config"></a>

        <a href="javascript:;" class="reload"></a>

        <a href="javascript:;" class="remove"></a>

    </div>

</div>

<div class="portlet-body">


<div class="row-fluid" >

    <div class="span12">

        <script id="template-upload" type="text/x-tmpl">

							{% for (var i=0, file; file=o.files[i]; i++) { %}

							    <tr class="template-upload fade">

							        <td class="preview"><span class="fade"></span></td>

							        <td class="name"><span>{%=file.name%}</span></td>

							        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>

							        {% if (file.error) { %}

							            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>

							        {% } else if (o.files.valid && !i) { %}

							            <td>

							                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>

							            </td>

							            <td class="start">{% if (!o.options.autoUpload) { %}

							                <button class="btn">

							                    <i class="icon-upload icon-white"></i>

							                    <span>Start</span>

							                </button>

							            {% } %}</td>

							        {% } else { %}

							            <td colspan="2"></td>

							        {% } %}

							        <td class="cancel">{% if (!i) { %}

							            <button class="btn red">

							                <i class="icon-ban-circle icon-white"></i>

							                <span>Cancel</span>

							            </button>

							        {% } %}</td>

							    </tr>

							{% } %}

						</script>

        <!-- The template to display files available for download -->

        <script id="template-download" type="text/x-tmpl">

							{% for (var i=0, file; file=o.files[i]; i++) { %}

							    <tr class="template-download fade">

							        {% if (file.error) { %}

							            <td></td>

							            <td class="name"><span>{%=file.name%}</span></td>

							            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>

							            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>

							        {% } else { %}

							            <td class="preview">

							            {% if (file.thumbnail_url) { %}

							                <a class="fancybox-button" data-rel="fancybox-button" href="{%=file.url%}" title="{%=file.name%}">

							                <img style="width: 100px;" src="{%=file.thumbnail_url%}">

							                </a>

							            {% } %}</td>

							            <td class="name">

							                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>

							            </td>

							            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>

							            <td colspan="2"></td>

							        {% } %}

							        <td class="delete">

							            <button class="btn red" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>

							                <i class="icon-trash icon-white"></i>

							                <span>Delete</span>

							            </button>

							            <input type="checkbox" class="fileupload-checkbox hide" name="delete" value="1">

							        </td>

							    </tr>

							{% } %}

						</script>

    </div>

</div>
<!-- 背景 -->
<div class="row-fluid">

    <div class="span3">

        <div class="item">

            <a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="/marryimg/image1.jpg">

                <div class="zoom">

                    <img src="#if($image1 != "0")/img?filename=$image1#else/img?filename=image1.jpeg#end" alt="Photo">

                </div>

            </a>

            <div class="details">

                <a id="a1" href="#form_modal3" class="icon" data-toggle="modal" onclick="opwin('file1')"><i class="icon-pencil"></i></a>

            </div>

        </div>

    </div>

    <div class="span3">

        <div class="item">

            <a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="/marryimg/image2.jpg">

                <div class="zoom">

                    <img src="#if($image2 != "0")/img?filename=$image2#else/img?filename=image2.jpeg#end" alt="Photo">

                </div>

            </a>

            <div class="details">

                <a id="a2" href="#form_modal3" class="icon" data-toggle="modal" onclick="opwin('file2')"><i class="icon-pencil"></i></a>

            </div>

        </div>

    </div>

    <div class="span3">

        <div class="item">

            <a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="/marryimg/image3.jpg">

                <div class="zoom">

                    <img src="#if($image3 != "0")/img?filename=$image3#else/img?filename=image3.jpeg#end" alt="Photo">

                </div>

            </a>

            <div class="details">

                <a id="a3" href="#form_modal3" class="icon" data-toggle="modal" onclick="opwin('file3')"><i class="icon-pencil"></i></a>

            </div>

        </div>

    </div>

    <div class="span3">

        <div class="item">

            <a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="/marryimg/image4.jpg">

                <div class="zoom">

                    <img src="#if($image4 != "0")/img?filename=$image4#else/img?filename=image4.jpeg#end" alt="Photo">

                </div>

            </a>

            <div class="details">

                <a id="a4" href="#form_modal3" class="icon" data-toggle="modal" onclick="opwin('file4')"><i class="icon-pencil"></i></a>

            </div>

        </div>

    </div>

</div>

<div id="form_modal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">

    <div class="modal-header">

        <h3 id="myModalLabel3">更换背景图片</h3>

    </div>

    <div class="modal-body">

        <div class="row-fluid">

            <form id="singlefileupload" method="POST" enctype="multipart/form-data">

                <!-- Redirect browsers with JavaScript disabled to the origin page -->

                <noscript>&lt;input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"&gt;</noscript>

                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

                <div class="row-fluid fileupload-buttonbar">

                    <div class="span7">

                        <!-- The fileinput-button span is used to style the file input field as button -->

									<span class="btn green fileinput-button">

									<i class="icon-plus icon-white"></i>

									<span>Add files...</span>

                                    <input id="singfile" type="file" name="file" data-url="" multiple="">

									</span>

                        <button type="submit" class="btn blue start">

                            <i class="icon-upload icon-white"></i>

                            <span>Start upload</span>

                        </button>

                    </div>

                    <!-- The global progress information -->

                    <div class="span5 fileupload-progress fade">

                        <!-- The global progress bar -->

                        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">

                            <div class="bar" style="width:0%;"></div>

                        </div>

                        <!-- The extended global progress information -->

                        <div class="progress-extended">&nbsp;</div>

                    </div>

                </div>

                <!-- The loading indicator is shown during file processing -->

                <div class="fileupload-loading"></div>

                <br>

                <!-- The table listing the files available for upload/download -->

                <table role="presentation" class="table table-striped">

                    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>

                </table>


        </div>

    <div class="modal-footer">

        <button id="targeClose" class="btn green btn-primary" data-dismiss="modal">关闭</button>

    </div>

</div>


</div>

</div>

</div>

</div>

</div>
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="/media/js/jquery.fancybox.pack.js"></script>

<!-- BEGIN:File Upload Plugin JS files-->

<script src="/media/js/jquery.ui.widget.js"></script>

<!-- The Templates plugin is included to render the upload/download listings -->

<script src="/media/js/tmpl.min.js"></script>

<!-- The Load Image plugin is included for the preview images and image resizing functionality -->

<script src="/media/js/load-image.min.js"></script>

<!-- The Canvas to Blob plugin is included for image resizing functionality -->

<script src="/media/js/canvas-to-blob.min.js"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

<script src="/media/js/jquery.iframe-transport.js"></script>

<!-- The basic File Upload plugin -->

<script src="/media/js/jquery.fileupload.js"></script>

<!-- The File Upload file processing plugin -->

<script src="/media/js/jquery.fileupload-fp.js"></script>

<!-- The File Upload user interface plugin -->

<script src="/media/js/jquery.fileupload-ui.js"></script>

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->

<!--[if gte IE 8]><script src="/media/js/jquery.xdr-transport.js"></script><![endif]-->

<!-- END:File Upload Plugin JS files-->

<!-- END PAGE LEVEL PLUGINS -->

<script src="/media/js/app.js"></script>

<script src="/media/js/form-fileupload.js"></script>


<script>

    jQuery(document).ready(function() {

        // initiate layout and plugins

        App.init();

        FormFileUpload.init();
        $("#targeClose").click(function(e){
            $("#2click").click();
        });

    });
    function opwin (file1) {
        $("#singfile").attr("name",file1);
    }
</script>

<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>