<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

<div id="portlet-config" class="modal hide">

    <div class="modal-header">

        <button data-dismiss="modal" class="close" type="button"></button>

        <h3>Widget Settings</h3>

    </div>

    <div class="modal-body">

        <p>Here will be a configuration form</p>

    </div>

</div>

<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

<!-- BEGIN SIDEBAR1 -->

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU1 -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li class="start">

            <a class="ajaxify start" href="/html/user/home.html">

                <i class="icon-home"></i>

                <span class="title">首页</span>

                <span class="selected"></span>

            </a>

        </li>


        <li class="">

            <a href="javascript:;">

                <i class="icon-cogs"></i>

                <span class="title">编辑请柬信息</span>

                <span class="selected"></span>

                <span class="arrow"></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a id="2click" class="ajaxify" href="/user/show?template=edit_background">

                        设置背景图片

                    </a>

                </li>

                <li>

                    <a class="ajaxify" href="/user/show?template=edit_images">

                        设置相册图片

                    </a>

                </li>

                <li>

                    <a class="ajaxify" href="/user/show?template=edit_info">

                        填写请柬信息

                    </a>

                </li>

            </ul>

        </li>

    </ul>

    <!-- END SIDEBAR MENU1 -->

</div>

<!-- END SIDEBAR1 -->