

<body class="page-header-fixed">


<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN STYLE CUSTOMIZER -->



        <!-- END BEGIN STYLE CUSTOMIZER -->
        <h3 class="page-title">

        </h3>

        <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="/user/show">首页</a>

                <span class="icon-angle-right"></span>
                <a href="/user/show">发送请柬</a>

            </li>

        </ul>

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->



<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN VALIDATION STATES-->


<div id="showtext" style="margin: auto; width: 99%;margin-top: 50px;">

    <form class="form-inline" role="form" ACTION="save_vip.php" METHOD="POST" id="form1" name="form1">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">首页图片</label>
            <input  class="form-control" id="name" name="vip_name" type="text"  placeholder="输入 亲爱的XX" />
        </div>
        <button type="submit" class="btn btn-primary">提 交</button>（点击二维码，打开电脑版请柬）
    </form>


<div style="margin-top: 20px;">

    {#section name=customer loop=$vip_array #}

    <div style="float: left;">
        <div style="margin-left: 10px;">
            <a target="_blank" href="http://{#$host#}pc.php?name={#$user_id#}@{#$vip_array[customer]->id#}"><img src='vipqrcode.php?vipid={#$vip_array[customer]->id#}' width='130' height='130'  /></a>
        </div>
        <div style="text-align: center;">
            <a target="_blank" href="http://{#$host#}pc.php?name={#$user_id#}@{#$vip_array[customer]->id#}" class="btn btn-primary">打开电脑请柬</a>
        </div>
        <div style="text-align: center;">
            <a onclick="return confirm('确认要删除?');" href="http://{#$host#}delete_vip.php?vip_id={#$vip_array[customer]->id#}"><img style="" src="img/delete.png" alt="删除"></a>
        </div>
        <div style="text-align: center;">
            <span>{#$vip_array[customer]->vip_name#}</span>
        </div>
    </div>

    &nbsp;
    &nbsp; &nbsp;
    {#if $smarty.section.customer.iteration mod 6 == 0 #}
</div>
    <p>&nbsp;</p>
    <div>
        {#/if#}
        {#/section#}
    </div>

    <script type="text/javascript">
        function create(){
            var name = document.getElementById('name').value;
            //thisURL = document.URL;
            var url = "http://{#$host#}phone.php?name={#$name#}-"+encodeURIComponent(name);
            document.getElementById('imgs1').innerHTML = "<img src='http://chart.apis.google.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=L|4&chl=" + url + "' width='150' height='150' alt='网址URL 二维码生成' />";
            document.getElementById('url1').innerHTML = url;
        }
    </script>
</div>

    <!-- END VALIDATION STATES-->

    </div>

</div>

</div>
</body>




<script src="/js/edit_info.js"></script>
<!-- END PAGE LEVEL STYLES -->

<script>

    jQuery(document).ready(function() {

        // initiate layout and plugins

        App.init();

    });

</script>

<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>






